DATABASE_URL=postgresql://user:password@localhost:5432/db_name


NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your cloudinary name"
CLOUDINARY_API_KEY="your cloudinary api key"
CLOUDINARY_API_SECRET="your cloudinary api secret"


ADMIN_EMAIL="your admin email"
EMAIL_PASS=xxxxxxxxxxxxx
JWT_SECRET="your jwt secret code"


NEXT_PUBLIC_GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google
