@import "tailwindcss";

@theme {
  --font-title: "Quicksand", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-abyss-900: #001f3f; /* Darkest Navy */
  --color-abyss-800: #003366; /* Deep Blue */
  --color-abyss-700: #005b96; /* Sea Blue */
  --color-abyss-500: #007bff; /* Bright Azure */
  --color-abyss-100: #aeeeee; /* Light Cyan */


  --color-bg-page: var(--color-abyss-900);
  --color-bg-card: var(--color-abyss-800);
  --color-text-main: var(--color-abyss-100);
  --color-text-muted: #94a3b8;
  --color-primary: var(--color-abyss-500);
  --color-accent: var(--color-abyss-700);
}


@variant dark (&:where(.dark, .dark *));

@layer base {

  html {
    scroll-behavior: smooth;
  }
  
  body {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--color-bg-page);
    color: var(--color-text-main);
    font-family: var(--font-body);
  }

  
  :root:not(.dark) {
    --color-bg-page: #f0f9ff;   /* Bleu très pâle (Sky 50) */
    --color-bg-card: #ffffff;   /* Blanc pur */
    --color-text-main: #001f3f; /* Ton Darkest Navy pour le texte */
    --color-text-muted: #475569;
    --color-primary: #005b96;   /* On fonce un peu l'accent pour la lisibilité */
    --color-accent: #007bff;
    --color-abyss-100: #001f3f; /* Inversion pour les éléments contrastés */
  }

  svg.lucide {
    stroke-width: 1.75px;
  }

}

@layer components{

  section{
      @apply container mx-auto my-10 p-10
  }
}